@font-face {
    font-family: 'Futura-thin';
    src: url('../fonts/Futura-BooObl.ttf');
}

@font-face {
    font-family: 'Futura-Boo';
    src: url('../fonts/Futura-Boo.ttf');
}

@font-face {
    font-family: "Osaka";
    src: local("Osaka")
}

.container {
    
}
.bg-slider {
    width: 100vw;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-slider_title{
    margin: auto;
}

.logo {
   width: 890px;
}

.bg-slider_title h1 {
/*    background-color: red;*/
    font-family: 'Futura-thin';
    font-size: 45px;
    color: aliceblue;
    margin: 37.5px 0;
    text-align: center;
}

.introduction {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

/*よく知らんけど、全部同じで指定していいぽい*/
h1{
    font-family: 'Futura-Boo'; 
    color: #3D5CDB;
    text-align: center;
    margin: 44.4px auto;
    font-size: 53px;
}

.content {
    margin-top: 100px;
    overflow: hidden;
    font-family: "Osaka";
    font-size: 16px;
    color: #333333;
}

.content img {
    float: left;
}

.right-content {
    float: left;
    width: 520px;
}

.right-content p {
    margin-left: 60px;
}


.left-content {
    float: left;
    width: 520px;
}

.left-content p {
    margin-left: 60px;
}


.btn {
    margin: 35px auto;
    text-align: center;
}

.button1 {
    font-family: "Futura-Boo";
    font-size: 20px;
    color: #fff;
    background-color: #3d5cdb;
    padding: 5px 40px;
    border-radius: 12px;
}
/*フォント違う！！！*/
.button2 {
    font-family: "Futura-Boo";
    font-size: 20px;
    color: #fff;
    background-color: #ffbf00;
    padding: 5px 40px;
    border-radius: 12px;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 0;
}

.images {
    margin: auto;
}

.slider_div {
    margin: auto;
}

.slider {
    width: 80%;
}
.slider img {
    width: 100%;
}

.access {
    margin: auto;
}

.map {
    margin: auto;
}

